header {
    background-color: darkgray;
}


.navbar-brand {
    float: left;
    padding-top: 15px;
}
.card {
    height: 200px;
    display: none;
    border: hidden;
    margin: 30px;
}


#weatherPic {
    height: 35px;
    width: 35px;
}

#geoInfo {
    margin-top: 50px;
}

#teamLocals {
    background-color: black;
    color: white;
}

/* maps api styling */
#maps {
    height: 400px;
    width: 400px;  
    display: none;
    }
