header {
    background-color: darkgray;
}


.navbar-brand {
    float: left;
}
.card {
    height: 200px;
    display: none;
    border: hidden;
    margin: 30px;
}


#weatherPic {
    height: 35px;
    width: 35px;
}

#geoInfo {
    margin-top: 50px;
}

#teamLocals {
    background-color: black;
    color: white;
}

/* maps api styling */
#map {
    height: 400px;
    width: 100%;  
    }
