body {
    background-color: #002419;
    color: #fdba31;
}

nav {
    background-color: #002419;
    color: #fdba31;
}

.card-header {
    background-color: #fdba31;
    color: #002419;
}

hr {
    border: 1px solid #fdba31;
}

.navbar-brand {
    float: left;
}
.card {
    height: 200px;
    border: hidden;
    margin: 30px;
}


#weatherPic {
    height: 100px;
    width: 100px;
}

#geoInfo {
    margin-top: 50px;
}

#teamLocals {
    background-color: black;
    color: white;
}

img {
    height: 50px;
    width: 50px;
}

#weatherCity {
    font-size: 75px;
    font-family: 'Assistant', sans-serif;
}

#weatherCondition {
    font-size: 25px;
    margin-top: 25px;
    font-family: 'Assistant', sans-serif;
}

#weatherContent {
    margin-left: 15px;
}

#weatherTemp {
    margin-left: 30px;
    font-size: 40px;
    font-family: 'Assistant', sans-serif;
}

#teamLogo {
    margin-right: 45%;
}