body {
    background-color: #CC0000;
    color: #000000;
}

nav {
    background-color: #000000;
    color: #CC0000;
}

.card-header {
    background-color: #000000;
    color: #CC0000;
}

hr {
    border: 1px solid #000000;
}

.navbar-brand {
    float: left;
    margin: 0 auto;
}
.card {
    height: 200px;
    border: hidden;
    margin: 30px;
}
#maps {
    height:500px;
    width:500px;
}

#weatherPic {
    height: 35px;
    width: 35px;
}

#geoInfo {
    margin-top: 50px;
}

#teamLocals {
    background-color: black;
    color: white;
}

img {
    height: 50px;
    width: 50px;
}

.navbar-brand {
    float: left;
    padding-top: 15px;
}
.card {
    height: 200px;
    display: none;
    border: hidden;
    margin: 30px;
}


#weatherPic {
    height: 35px;
    width: 35px;
}

#geoInfo {
    margin-top: 50px;
}

#teamLocals {
    background-color: black;
    color: white;
}

img {
    height: 50px;
    width: 50px;
}


#weatherContent, #weatherTemp {
    margin-left: 7px;
}

#teamLogo {
    margin-right: 45%;
}

#teamLogo {
    margin-right: 45%;
}

@media (max-width: 990px) {
    #teamLogo {
        margin-right: 10%;
        float: right;
    }
}